.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4); 
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    z-index: 1; 
  }
  
  .modalContainer {
    width: 500px;
    height: fit-content;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: space-between;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  .titleCloseBtn h3 {
    background-color: transparent;
    left:0%;
  }
  
  .modalContainer .body {
    margin-top: 10px;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: rgb(88, 93, 100);
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }
  .error{
    color:red;
}